*{
    margin: 0;
    padding: 0;
    
}


html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    width: 100%;
}

#root{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.container__canvas{
    width: 75%;
}

.container__canvas.mobile.slide{
    width: 65%;
}

.container__canvas.mobile{
    width: 95%;
}

.container__pane{
    width: 25%;
}

.container__panel.mobile.slide{
    width: 35%;
}

.container__panel.mobile{
    width: 5%;
}