*{
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    width: 100%;
}

#root{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.container__canvas{
    width: 75%;
    overflow: auto;
}

.container__canvas.mobile.slide{
    width: 65%;
}

.container__canvas.mobile{
    width: 97%;
}

.container__panel{
    width: 25%;
    z-index: 100;
}

.container__panel.mobile.slide{
    width: 60%;
}

.container__panel.mobile{
    width: 3%;
}
